

    <div class="container">
        
        <ul class="list-group">
          <li class="list-group-item">Introduccion</li>
          <li class="list-group-item">Componentes</li>
          <li class="list-group-item">Typescript</li>
          <li class="list-group-item">Interpolacion</li>
          <li class="list-group-item">Comunicacion</li>
          <li class="list-group-item">Formularios</li>
          <li class="list-group-item">Router</li>
          <li class="list-group-item">Api Rest</li>
          <li class="list-group-item">Test</li>
          <li class="list-group-item">Patrones</li>
          <li class="list-group-item">Feature en NgRx</li>
          <li class="list-group-item">Effects</li>

        </ul>
      </div>
      
