.container{
    max-width: 20%;
    padding-left: 0%;
    margin-left: 0%;
  
}
.list-group-item {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }