.navbar{
  background-color: rgb(3, 179, 179);
  height: 100px;
  padding: 30px 0 4.5rem 10px;
}
.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 18px;

}

.nav-link {
  font-size: 20px;
  font-family: "Montserrat";
  
}